<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/Alamofire</string>
			<key>Title</key>
			<string>Alamofire (5.6.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/CryptoSwift</string>
			<key>Title</key>
			<string>CryptoSwift (1.6.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/Firebase</string>
			<key>Title</key>
			<string>Firebase (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseABTesting</string>
			<key>Title</key>
			<string>FirebaseABTesting (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseAnalytics</string>
			<key>Title</key>
			<string>FirebaseAnalytics (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseCore</string>
			<key>Title</key>
			<string>FirebaseCore (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseCoreInternal</string>
			<key>Title</key>
			<string>FirebaseCoreInternal (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseCrashlytics</string>
			<key>Title</key>
			<string>FirebaseCrashlytics (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseInstallations</string>
			<key>Title</key>
			<string>FirebaseInstallations (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseMessaging</string>
			<key>Title</key>
			<string>FirebaseMessaging (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebasePerformance</string>
			<key>Title</key>
			<string>FirebasePerformance (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/FirebaseRemoteConfig</string>
			<key>Title</key>
			<string>FirebaseRemoteConfig (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement (10.3.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/GoogleDataTransport</string>
			<key>Title</key>
			<string>GoogleDataTransport (9.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities (7.10.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/iOStarter</string>
			<key>Title</key>
			<string>iOStarter (1.5.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/IQKeyboardManagerSwift</string>
			<key>Title</key>
			<string>IQKeyboardManagerSwift (6.5.10)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/Kingfisher</string>
			<key>Title</key>
			<string>Kingfisher (7.4.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/KMPlaceholderTextView</string>
			<key>Title</key>
			<string>KMPlaceholderTextView (1.4.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/L10n-swift</string>
			<key>Title</key>
			<string>L10n-swift (5.10.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>License Plist (3.23.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/Lightbox</string>
			<key>Title</key>
			<string>Lightbox (2.6.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/MaterialComponents</string>
			<key>Title</key>
			<string>MaterialComponents (124.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/MDFInternationalization</string>
			<key>Title</key>
			<string>MDFInternationalization (3.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/MMKV</string>
			<key>Title</key>
			<string>MMKV (1.2.14)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/MMKVCore</string>
			<key>Title</key>
			<string>MMKVCore (1.2.14)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/nanopb</string>
			<key>Title</key>
			<string>nanopb (2.30909.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/NVActivityIndicatorView</string>
			<key>Title</key>
			<string>NVActivityIndicatorView (5.1.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/PromisesObjC</string>
			<key>Title</key>
			<string>PromisesObjC (2.1.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/Reusable</string>
			<key>Title</key>
			<string>Reusable (4.1.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/SwiftGen</string>
			<key>Title</key>
			<string>SwiftGen (6.6.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/SwiftNotificationCenter</string>
			<key>Title</key>
			<string>SwiftNotificationCenter (1.0.4)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.iOStarter.LicensePlist/SwiftyJSON</string>
			<key>Title</key>
			<string>SwiftyJSON (5.0.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
