<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/Alamofire</string>
			<key>Title</key>
			<string>Alamofire (5.5.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/Cache</string>
			<key>Title</key>
			<string>Cache (6.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/CryptoSwift</string>
			<key>Title</key>
			<string>CryptoSwift (1.4.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/Firebase</string>
			<key>Title</key>
			<string>Firebase (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseABTesting</string>
			<key>Title</key>
			<string>FirebaseABTesting (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseAnalytics</string>
			<key>Title</key>
			<string>FirebaseAnalytics (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseCore</string>
			<key>Title</key>
			<string>FirebaseCore (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseCoreDiagnostics</string>
			<key>Title</key>
			<string>FirebaseCoreDiagnostics (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseCrashlytics</string>
			<key>Title</key>
			<string>FirebaseCrashlytics (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseInstallations</string>
			<key>Title</key>
			<string>FirebaseInstallations (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseMessaging</string>
			<key>Title</key>
			<string>FirebaseMessaging (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebasePerformance</string>
			<key>Title</key>
			<string>FirebasePerformance (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FirebaseRemoteConfig</string>
			<key>Title</key>
			<string>FirebaseRemoteConfig (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/FSPagerView</string>
			<key>Title</key>
			<string>FSPagerView (0.8.3)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement (8.14.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/GoogleDataTransport</string>
			<key>Title</key>
			<string>GoogleDataTransport (9.1.2)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities (7.7.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/Imaginary</string>
			<key>Title</key>
			<string>Imaginary (5.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/iOStarter</string>
			<key>Title</key>
			<string>iOStarter (1.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/IQKeyboardManagerSwift</string>
			<key>Title</key>
			<string>IQKeyboardManagerSwift (6.5.9)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/Kingfisher</string>
			<key>Title</key>
			<string>Kingfisher (7.2.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/KYDrawerController</string>
			<key>Title</key>
			<string>KYDrawerController (2.1.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/L10n-swift</string>
			<key>Title</key>
			<string>L10n-swift (5.10.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>License Plist (3.20.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/Lightbox</string>
			<key>Title</key>
			<string>Lightbox (2.5.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/MMKV</string>
			<key>Title</key>
			<string>MMKV (1.2.13)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/MMKVCore</string>
			<key>Title</key>
			<string>MMKVCore (1.2.13)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/nanopb</string>
			<key>Title</key>
			<string>nanopb (2.30908.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/NVActivityIndicatorView</string>
			<key>Title</key>
			<string>NVActivityIndicatorView (5.1.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/PromisesObjC</string>
			<key>Title</key>
			<string>PromisesObjC (2.0.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/Realm</string>
			<key>Title</key>
			<string>Realm (10.25.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/RealmSwift</string>
			<key>Title</key>
			<string>RealmSwift (10.25.0)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/SwiftGen</string>
			<key>Title</key>
			<string>SwiftGen (6.5.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.ios.starter.LicensePlist/SwiftyJSON</string>
			<key>Title</key>
			<string>SwiftyJSON (5.0.1)</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
