<?xml version=”1.0" encoding=”UTF-8"?>
<!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version=”1.0">
<dict>
    <key>Identifier</key>
    <string>com.ios.iostarter</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>

    <key>Definitions</key>
    <dict>
        <!-- Cell Definition -->
        <key>Cell/DrawerMenu/DrawerMenuCell.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Cell</string>
                <string>DrawerMenu</string>
            </array>
            <key>Path</key>
            <string>Cell/DrawerMenu/DrawerMenuCell.swift</string>
        </dict>
        <key>Cell/Example/ExampleCell.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Cell</string>
                <string>Example</string>
            </array>
            <key>Path</key>
            <string>Cell/Example/ExampleCell.swift</string>
        </dict>
        <key>Cell/GridMenu/GridMenuCell.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Cell</string>
                <string>GridMenu</string>
            </array>
            <key>Path</key>
            <string>Cell/GridMenu/GridMenuCell.swift</string>
        </dict>

        <!-- Components Definition -->
        <key>Components/KWWebView.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Components</string>
            </array>
            <key>Path</key>
            <string>Components/KWWebView.swift</string>
        </dict>
        <key>Components/NavigationBar.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Components</string>
            </array>
            <key>Path</key>
            <string>Components/NavigationBar.swift</string>
        </dict>
        <key>Components/NavigationItem.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Components</string>
            </array>
            <key>Path</key>
            <string>Components/NavigationItem.swift</string>
        </dict>
        <key>Components/ZoomSlider.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Components</string>
            </array>
            <key>Path</key>
            <string>Components/ZoomSlider.swift</string>
        </dict>

        <!--Constants Definition -->
        <key>Constants/AppAssets.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Constants</string>
            </array>
            <key>Path</key>
            <string>Constants/AppAssets.swift</string>
        </dict>
        <key>Constants/AppColor.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Constants</string>
            </array>
            <key>Path</key>
            <string>Constants/AppColor.swift</string>
        </dict>
        <key>Constants/AppFont.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Constants</string>
            </array>
            <key>Path</key>
            <string>Constants/AppFont.swift</string>
        </dict>
        <key>Constants/AppStoryboard.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Constants</string>
            </array>
            <key>Path</key>
            <string>Constants/AppStoryboard.swift</string>
        </dict>
        <key>Constants/AppStrings.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Constants</string>
            </array>
            <key>Path</key>
            <string>Constants/AppStrings.swift</string>
        </dict>
        <key>Constants/ErrorConstant.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Constants</string>
            </array>
            <key>Path</key>
            <string>Constants/ErrorConstant.swift</string>
        </dict>

        <!--Controllers Definition -->
        <key>Controller/Auth/ForgotPassVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Auth</string>
            </array>
            <key>Path</key>
            <string>Controller/Auth/ForgotPassVC.swift</string>
        </dict>
        <key>Controller/Auth/LoginVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Auth</string>
            </array>
            <key>Path</key>
            <string>Controller/Auth/LoginVC.swift</string>
        </dict>
        <key>Controller/Auth/RegisterVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Auth</string>
            </array>
            <key>Path</key>
            <string>Controller/Auth/RegisterVC.swift</string>
        </dict>
        <key>Controller/Base/BaseAlertController.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Base</string>
            </array>
            <key>Path</key>
            <string>Controller/Base/BaseAlertController.swift</string>
        </dict>
        <key>Controller/Base/CollectionViewController.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Base</string>
            </array>
            <key>Path</key>
            <string>Controller/Base/CollectionViewController.swift</string>
        </dict>
        <key>Controller/Base/TableViewController.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Base</string>
            </array>
            <key>Path</key>
            <string>Controller/Base/TableViewController.swift</string>
        </dict>
        <key>Controller/Base/ViewController.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Base</string>
            </array>
            <key>Path</key>
            <string>Controller/Base/ViewController.swift</string>
        </dict>
        <key>Controller/Example/ExampleDetailVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Example</string>
            </array>
            <key>Path</key>
            <string>Controller/Example/ExampleDetailVC.swift</string>
        </dict>
        <key>Controller/Example/ExampleListVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Example</string>
            </array>
            <key>Path</key>
            <string>Controller/Example/ExampleListVC.swift</string>
        </dict>
        <key>Controller/Menu/DrawerMenu/DrawerMenu.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Menu</string>
                <string>DrawerMenu</string>
            </array>
            <key>Path</key>
            <string>Controller/Menu/DrawerMenu/DrawerMenu.swift</string>
        </dict>
        <key>Controller/Menu/DrawerMenu/DrawerMenuVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Menu</string>
                <string>DrawerMenu</string>
            </array>
            <key>Path</key>
            <string>Controller/Menu/DrawerMenu/DrawerMenuVC.swift</string>
        </dict>
        <key>Controller/Menu/GridMenu/GridMenuVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Menu</string>
                <string>GridMenu</string>
            </array>
            <key>Path</key>
            <string>Controller/Menu/GridMenu/GridMenuVC.swift</string>
        </dict>
        <key>Controller/Menu/TabBarMenu/TabBarMenuVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Menu</string>
                <string>TabBarMenu</string>
            </array>
            <key>Path</key>
            <string>Controller/Menu/TabBarMenu/TabBarMenuVC.swift</string>
        </dict>
        <key>Controller/Profile/EditPassVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Profile</string>
            </array>
            <key>Path</key>
            <string>Controller/Profile/EditPassVC.swift</string>
        </dict>
        <key>Controller/Profile/EditProfileVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Profile</string>
            </array>
            <key>Path</key>
            <string>Controller/Profile/EditProfileVC.swift</string>
        </dict>
        <key>Controller/Profile/ProfileVC.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Controller</string>
                <string>Profile</string>
            </array>
            <key>Path</key>
            <string>Controller/Profile/ProfileVC.swift</string>
        </dict>

        <!--Models Definition -->
        <key>Model/ExampleModel.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Model</string>
            </array>
            <key>Path</key>
            <string>Model/ExampleModel.swift</string>
        </dict>
        <key>Model/Menu.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Model</string>
            </array>
            <key>Path</key>
            <string>Model/Menu.swift</string>
        </dict>
        <key>Model/Profile.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Model</string>
            </array>
            <key>Path</key>
            <string>Model/Profile.swift</string>
        </dict>

        <!-- Resources File -->
        <key>Resource/Assets.xcassets</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Resource</string>
            </array>
            <key>Path</key>
            <string>Resource/Assets.xcassets</string>
        </dict>
        <key>Resource/colors.json</key>
        <dict>
            <key>TargetIndices</key>
            <array/>
            <key>Group</key>
            <array>
                <string>Resource</string>
            </array>
            <key>Path</key>
            <string>Resource/colors.json</string>
        </dict>
        <key>Resource/font/Proxima Nova Black.otf</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Resource</string>
                <string>font</string>
            </array>
            <key>Path</key>
            <string>Resource/font/Proxima Nova Black.otf</string>
        </dict>
        <key>Resource/font/Proxima Nova Bold.otf</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Resource</string>
                <string>font</string>
            </array>
            <key>Path</key>
            <string>Resource/font/Proxima Nova Bold.otf</string>
        </dict>
        <key>Resource/font/Proxima Nova Extrabold.otf</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Resource</string>
                <string>font</string>
            </array>
            <key>Path</key>
            <string>Resource/font/Proxima Nova Extrabold.otf</string>
        </dict>
        <key>Resource/font/Proxima Nova Thin.otf</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Resource</string>
                <string>font</string>
            </array>
            <key>Path</key>
            <string>Resource/font/Proxima Nova Thin.otf</string>
        </dict>
        <key>Resource/font/ProximaNova-Regular.otf</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Resource</string>
                <string>font</string>
            </array>
            <key>Path</key>
            <string>Resource/font/ProximaNova-Regular.otf</string>
        </dict>
        <key>Resource/structured-swift4.stencil</key>
        <dict>
            <key>TargetIndices</key>
            <array/>
            <key>Group</key>
            <array>
                <string>Removable Resources</string>
            </array>
            <key>Path</key>
            <string>Resource/structured-swift4.stencil</string>
        </dict>
        
        <!-- Storyboards File -->
        <key>Storyboard/Base.lproj/Auth.storyboard</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Storyboard</string>
            </array>
            <key>Path</key>
            <string>Storyboard/Base.lproj/Auth.storyboard</string>
        </dict>
        <key>Storyboard/Base.lproj/Example.storyboard</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Storyboard</string>
            </array>
            <key>Path</key>
            <string>Storyboard/Base.lproj/Example.storyboard</string>
        </dict>
        <key>Storyboard/Base.lproj/LaunchScreen.storyboard</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Storyboard</string>
            </array>
            <key>Path</key>
            <string>Storyboard/Base.lproj/LaunchScreen.storyboard</string>
        </dict>
        <key>Storyboard/Base.lproj/Main.storyboard</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Storyboard</string>
            </array>
            <key>Path</key>
            <string>Storyboard/Base.lproj/Main.storyboard</string>
        </dict>
        <key>Storyboard/Base.lproj/Profile.storyboard</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Storyboard</string>
            </array>
            <key>Path</key>
            <string>Storyboard/Base.lproj/Profile.storyboard</string>
        </dict>

        <!-- Supporting File -->
        <key>Info.plist</key>
        <dict>
            <key>TargetIndices</key>
            <array/>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Info.plist</string>
        </dict>
        <key>Supporting Files/AppDelegate.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/AppDelegate.swift</string>
        </dict>
        <key>Supporting Files/Config.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Config.swift</string>
        </dict>
        <key>Supporting Files/Project-Bridging-Header.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Project-Bridging-Header.h</string>
        </dict>
        <key>Supporting Files/UserSession.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/UserSession.swift</string>
        </dict>
        <key>Supporting Files/Localizable/LocalizeHelper.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
                <string>Localizable</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Localizable/LocalizeHelper.swift</string>
        </dict>
        <key>Supporting Files/Localizable/PluralAppStrings.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
                <string>Localizable</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Localizable/PluralAppStrings.swift</string>
        </dict>
        <key>Supporting Files/Localizable/en.lproj/Localizable.strings</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
                <string>Localizable</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Localizable/en.lproj/Localizable.strings</string>
        </dict>
        <key>Supporting Files/Localizable/id.lproj/Localizable.strings</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
                <string>Localizable</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Localizable/id.lproj/Localizable.strings</string>
        </dict>
        <key>Supporting Files/Localizable/en.lproj/PluralLocalizable.stringsdict</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
                <string>Localizable</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Localizable/en.lproj/PluralLocalizable.stringsdict</string>
        </dict>
        <key>Supporting Files/Localizable/id.lproj/PluralLocalizable.stringsdict</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Supporting Files</string>
                <string>Localizable</string>
            </array>
            <key>Path</key>
            <string>Supporting Files/Localizable/id.lproj/PluralLocalizable.stringsdict</string>
        </dict>

        <!--Utilities Definition -->
        <key>Utilities/Extension/ExtBool.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtBool.swift</string>
        </dict>
        <key>Utilities/Extension/ExtCAGradientLayer.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtCAGradientLayer.swift</string>
        </dict>
        <key>Utilities/Extension/ExtDate.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtDate.swift</string>
        </dict>
        <key>Utilities/Extension/ExtInt.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtInt.swift</string>
        </dict>
        <key>Utilities/Extension/ExtString.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtString.swift</string>
        </dict>
        <key>Utilities/Extension/ExtUIApplication.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtUIApplication.swift</string>
        </dict>
        <key>Utilities/Extension/ExtUIColor.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtUIColor.swift</string>
        </dict>
        <key>Utilities/Extension/ExtUIImage.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtUIImage.swift</string>
        </dict>
        <key>Utilities/Extension/ExtUINavigationController.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtUINavigationController.swift</string>
        </dict>
        <key>Utilities/Extension/ExtUITextField.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtUITextField.swift</string>
        </dict>
        <key>Utilities/Extension/ExtUIView.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtUIView.swift</string>
        </dict>
        <key>Utilities/Extension/ExtUIViewController.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Extension</string>
            </array>
            <key>Path</key>
            <string>Utilities/Extension/ExtUIViewController.swift</string>
        </dict>
        <key>Utilities/Helper/APIRequest/ApiHelper.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
                <string>APIRequest</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/APIRequest/ApiHelper.swift</string>
        </dict>
        <key>Utilities/Helper/APIRequest/UploadParameters.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
                <string>APIRequest</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/APIRequest/UploadParameters.swift</string>
        </dict>
        <key>Utilities/Helper/APIRequest/MimeType.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
                <string>APIRequest</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/APIRequest/MimeType.swift</string>
        </dict>
        <key>Utilities/Helper/DatabaseHelper.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/DatabaseHelper.swift</string>
        </dict>
        <key>Utilities/Helper/DownloadFileHelper.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/DownloadFileHelper.swift</string>
        </dict>
        <key>Utilities/Helper/LocationHelper.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/LocationHelper.swift</string>
        </dict>
        <key>Utilities/Helper/NotificationHelper.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/NotificationHelper.swift</string>
        </dict>
        <key>Utilities/Helper/SettingsHelper.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Helper</string>
            </array>
            <key>Path</key>
            <string>Utilities/Helper/SettingsHelper.swift</string>
        </dict>
        <key>Utilities/Library/CheckBox.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/CheckBox.swift</string>
        </dict>
        <key>Utilities/Library/FloaticonField/FloaticonField.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>FloaticonField</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/FloaticonField/FloaticonField.swift</string>
        </dict>
        <key>Utilities/Library/FloaticonField/TextFieldEffects.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>FloaticonField</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/FloaticonField/TextFieldEffects.swift</string>
        </dict>
        <key>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerAnimation.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>JVFloatingDrawer</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerAnimation.h</string>
        </dict>
        <key>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerSpringAnimator.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>JVFloatingDrawer</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerSpringAnimator.h</string>
        </dict>
        <key>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerSpringAnimator.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>JVFloatingDrawer</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerSpringAnimator.m</string>
        </dict>
        <key>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerView.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>JVFloatingDrawer</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerView.h</string>
        </dict>
        <key>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerView.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>JVFloatingDrawer</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerView.m</string>
        </dict>
        <key>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerViewController.h</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>JVFloatingDrawer</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerViewController.h</string>
        </dict>
        <key>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerViewController.m</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>JVFloatingDrawer</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerViewController.m</string>
        </dict>
        <key>Utilities/Library/Notify/KeyboardManager.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>Notify</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/Notify/KeyboardManager.swift</string>
        </dict>
        <key>Utilities/Library/Notify/Notify.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
                <string>Notify</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/Notify/Notify.swift</string>
        </dict>
        <key>Utilities/Library/PickerField.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/PickerField.swift</string>
        </dict>
        <key>Utilities/Library/ToastView.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/ToastView.swift</string>
        </dict>
        <key>Utilities/Library/CameraController.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>Utilities</string>
                <string>Library</string>
            </array>
            <key>Path</key>
            <string>Utilities/Library/CameraController.swift</string>
        </dict>

        <!--Views Definition -->
        <key>View/ErrorView/ErrorView.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
                <string>ErrorView</string>
            </array>
            <key>Path</key>
            <string>View/ErrorView/ErrorView.swift</string>
        </dict>
        <key>View/ErrorView/ErrorView.xib</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
                <string>ErrorView</string>
            </array>
            <key>Path</key>
            <string>View/ErrorView/ErrorView.xib</string>
        </dict>
        <key>View/ImagePagerView.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
            </array>
            <key>Path</key>
            <string>View/ImagePagerView.swift</string>
        </dict>
        <key>View/LoadIndicatorView/LoadIndicatorView.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
                <string>LoadIndicatorView</string>
            </array>
            <key>Path</key>
            <string>View/LoadIndicatorView/LoadIndicatorView.swift</string>
        </dict>
        <key>View/LoadIndicatorView/LoadIndicatorView.xib</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
                <string>LoadIndicatorView</string>
            </array>
            <key>Path</key>
            <string>View/LoadIndicatorView/LoadIndicatorView.xib</string>
        </dict>
        <key>View/PopAlert/BasePopUpView.xib</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
                <string>PopAlert</string>
            </array>
            <key>Path</key>
            <string>View/PopAlert/BasePopUpView.xib</string>
        </dict>
        <key>View/PopAlert/CAlertView/CAlertView.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
                <string>PopAlert</string>
                <string>CAlertView</string>
            </array>
            <key>Path</key>
            <string>View/PopAlert/CAlertView/CAlertView.swift</string>
        </dict>
        <key>View/PopAlert/CAlertView/CAlertView.xib</key>
        <dict>
            <key>Group</key>
            <array>
                <string>View</string>
                <string>PopAlert</string>
                <string>CAlertView</string>
            </array>
            <key>Path</key>
            <string>View/PopAlert/CAlertView/CAlertView.xib</string>
        </dict>

        <!--View Models Definition -->
        <key>ViewModel/Auth/ForgotPassVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Auth</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Auth/ForgotPassVM.swift</string>
        </dict>
        <key>ViewModel/Auth/LoginVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Auth</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Auth/LoginVM.swift</string>
        </dict>
        <key>ViewModel/Auth/RegisterVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Auth</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Auth/RegisterVM.swift</string>
        </dict>
        <key>ViewModel/Example/ExampleListVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Example</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Example/ExampleListVM.swift</string>
        </dict>
        <key>ViewModel/Example/ExampleItemVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Example</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Example/ExampleItemVM.swift</string>
        </dict>
        <key>ViewModel/Menu/MenuItemVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Menu</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Menu/MenuItemVM.swift</string>
        </dict>
        <key>ViewModel/Menu/MenuVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Menu</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Menu/MenuVM.swift</string>
        </dict>
        <key>ViewModel/Profile/ProfileVM.swift</key>
        <dict>
            <key>Group</key>
            <array>
                <string>ViewModel</string>
                <string>Profile</string>
            </array>
            <key>Path</key>
            <string>ViewModel/Profile/ProfileVM.swift</string>
        </dict>

        <!-- Other -->
        <key>../Podfile</key>
		<dict>
            <key>TargetIndices</key>
            <array/>
            <key>Group</key>
            <array>
                <string>Removable Resources</string>
            </array>
            <key>Path</key>
            <string>Podfile</string>
		</dict>
        <key>../swiftgen.yml</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
            <key>Group</key>
            <array>
                <string>Removable Resources</string>
            </array>
            <key>Path</key>
            <string>swiftgen.yml</string>
		</dict>
        <key>../Podfile.lock</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
            <key>Group</key>
            <array>
                <string>Removable Resources</string>
            </array>
            <key>Path</key>
            <string>Podfile.lock</string>
		</dict>
        <key>../license-plist</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
            <key>Group</key>
            <array>
                <string>Removable Resources</string>
            </array>
            <key>Path</key>
            <string>license-plist</string>
		</dict>
        <key>../license_plist.yml</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
            <key>Group</key>
            <array>
                <string>Removable Resources</string>
            </array>
            <key>Path</key>
            <string>license_plist.yml</string>
		</dict>
        <key>../Settings.bundle</key>
		<dict>
            <key>Path</key>
            <string>Settings.bundle</string>
		</dict>
    </dict>

    <key>Nodes</key>
    <array>
        <!-- Other Files -->
        <string>../Podfile</string>
        <string>../Podfile.lock</string>
        <string>../swiftgen.yml</string>
        <string>../license-plist</string>
        <string>../license_plist.yml</string>
        <string>../Settings.bundle</string>

        <!-- Constants File -->
        <string>Constants/AppAssets.swift</string>
        <string>Constants/AppColor.swift</string>
        <string>Constants/AppFont.swift</string>
        <string>Constants/AppStoryboard.swift</string>
        <string>Constants/AppStrings.swift</string>
        <string>Constants/ErrorConstant.swift</string>

        <!-- Resources File -->
        <string>Resource/font/Proxima Nova Black.otf</string>
        <string>Resource/font/Proxima Nova Bold.otf</string>
        <string>Resource/font/Proxima Nova Extrabold.otf</string>
        <string>Resource/font/Proxima Nova Thin.otf</string>
        <string>Resource/font/ProximaNova-Regular.otf</string>
        <string>Resource/colors.json</string>
        <string>Resource/Assets.xcassets</string>
        <string>Resource/structured-swift4.stencil</string>

        <!-- Utilities File -->
        <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerAnimation.h</string>
        <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerSpringAnimator.h</string>
        <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerSpringAnimator.m</string>
        <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerView.h</string>
        <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerView.m</string>
        <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerViewController.h</string>
        <string>Utilities/Library/JVFloatingDrawer/JVFloatingDrawerViewController.m</string>
        <string>Utilities/Library/Notify/KeyboardManager.swift</string>
        <string>Utilities/Library/Notify/Notify.swift</string>
        <string>Utilities/Library/FloaticonField/FloaticonField.swift</string>
        <string>Utilities/Library/FloaticonField/TextFieldEffects.swift</string>
        <string>Utilities/Library/ToastView.swift</string>
        <string>Utilities/Library/CheckBox.swift</string>
        <string>Utilities/Library/PickerField.swift</string>
        <string>Utilities/Library/CameraController.swift</string>
        <string>Utilities/Extension/ExtBool.swift</string>
        <string>Utilities/Extension/ExtCAGradientLayer.swift</string>
        <string>Utilities/Extension/ExtDate.swift</string>
        <string>Utilities/Extension/ExtInt.swift</string>
        <string>Utilities/Extension/ExtString.swift</string>
        <string>Utilities/Extension/ExtUIApplication.swift</string>
        <string>Utilities/Extension/ExtUIColor.swift</string>
        <string>Utilities/Extension/ExtUIImage.swift</string>
        <string>Utilities/Extension/ExtUINavigationController.swift</string>
        <string>Utilities/Extension/ExtUITextField.swift</string>
        <string>Utilities/Extension/ExtUIView.swift</string>
        <string>Utilities/Extension/ExtUIViewController.swift</string>
        <string>Utilities/Helper/APIRequest/ApiHelper.swift</string>
        <string>Utilities/Helper/APIRequest/UploadParameters.swift</string>
        <string>Utilities/Helper/APIRequest/MimeType.swift</string>
        <string>Utilities/Helper/DatabaseHelper.swift</string>
        <string>Utilities/Helper/NotificationHelper.swift</string>
        <string>Utilities/Helper/DownloadFileHelper.swift</string>
        <string>Utilities/Helper/LocationHelper.swift</string>
        <string>Utilities/Helper/SettingsHelper.swift</string>

        <!-- Components File -->
        <string>Components/NavigationBar.swift</string>
        <string>Components/NavigationItem.swift</string>
        <string>Components/KWWebView.swift</string>
        <string>Components/ZoomSlider.swift</string>

        <!-- Models File -->
        <string>Model/Profile.swift</string>
        <string>Model/Menu.swift</string>
        <string>Model/ExampleModel.swift</string>

        <!-- View Models File -->
        <string>ViewModel/Menu/MenuVM.swift</string>
        <string>ViewModel/Menu/MenuItemVM.swift</string>
        <string>ViewModel/Auth/LoginVM.swift</string>
        <string>ViewModel/Auth/RegisterVM.swift</string>
        <string>ViewModel/Auth/ForgotPassVM.swift</string>
        <string>ViewModel/Profile/ProfileVM.swift</string>
        <string>ViewModel/Example/ExampleListVM.swift</string>
        <string>ViewModel/Example/ExampleItemVM.swift</string>

        <!-- Cells Files -->
        <string>Cell/DrawerMenu/DrawerMenuCell.swift</string>
        <string>Cell/GridMenu/GridMenuCell.swift</string>
        <string>Cell/Example/ExampleCell.swift</string>

        <!-- Controllers File -->
        <string>Controller/Base/ViewController.swift</string>
        <string>Controller/Base/TableViewController.swift</string>
        <string>Controller/Base/CollectionViewController.swift</string>
        <string>Controller/Base/BaseAlertController.swift</string>
        <string>Controller/Auth/LoginVC.swift</string>
        <string>Controller/Auth/RegisterVC.swift</string>
        <string>Controller/Auth/ForgotPassVC.swift</string>
        <string>Controller/Menu/DrawerMenu/DrawerMenu.swift</string>
        <string>Controller/Menu/DrawerMenu/DrawerMenuVC.swift</string>
        <string>Controller/Menu/GridMenu/GridMenuVC.swift</string>
        <string>Controller/Menu/TabBarMenu/TabBarMenuVC.swift</string>
        <string>Controller/Example/ExampleListVC.swift</string>
        <string>Controller/Example/ExampleDetailVC.swift</string>
        <string>Controller/Profile/ProfileVC.swift</string>
        <string>Controller/Profile/EditProfileVC.swift</string>
        <string>Controller/Profile/EditPassVC.swift</string>

        <!-- Views File -->
        <string>View/ErrorView/ErrorView.swift</string>
        <string>View/ErrorView/ErrorView.xib</string>
        <string>View/LoadIndicatorView/LoadIndicatorView.swift</string>
        <string>View/LoadIndicatorView/LoadIndicatorView.xib</string>
        <string>View/PopAlert/CAlertView/CAlertView.swift</string>
        <string>View/PopAlert/CAlertView/CAlertView.xib</string>
        <string>View/PopAlert/BasePopUpView.xib</string>
        <string>View/ImagePagerView.swift</string>

        <!-- Storyboards File -->
        <string>Storyboard/Base.lproj/Main.storyboard</string>
        <string>Storyboard/Base.lproj/LaunchScreen.storyboard</string>
        <string>Storyboard/Base.lproj/Auth.storyboard</string>
        <string>Storyboard/Base.lproj/Profile.storyboard</string>
        <string>Storyboard/Base.lproj/Example.storyboard</string>

        <!-- Supporting File -->
        <string>Supporting Files/Localizable/en.lproj/Localizable.strings</string>
        <string>Supporting Files/Localizable/id.lproj/Localizable.strings</string>
        <string>Supporting Files/Localizable/en.lproj/PluralLocalizable.stringsdict</string>
        <string>Supporting Files/Localizable/id.lproj/PluralLocalizable.stringsdict</string>
        <string>Supporting Files/Localizable/PluralAppStrings.swift</string>
        <string>Supporting Files/Localizable/LocalizeHelper.swift</string>
        <string>Supporting Files/AppDelegate.swift</string>
        <string>Supporting Files/UserSession.swift</string>
        <string>Supporting Files/Config.swift</string>
        
        <string>Supporting Files/Project-Bridging-Header.h</string>

    </array>

    <key>Options</key>
    <array>
        <dict>
            
        </dict>
    </array>

    <key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftGen</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;$PODS_ROOT/SwiftGen/bin/swiftgen&quot;</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Crashlytics</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>#&quot;${PODS_ROOT}/Fabric/run&quot;</string>
                    <key>InputFiles</key>
					<array>
						<string>$(SRCROOT)/$(BUILT_PRODUCTS_DIR)/$(INFOPLIST_PATH)</string>
					</array>
				</dict>
                <dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>LicensePlist</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>if [ $CONFIGURATION = &quot;Debug&quot; ]; then
    ${SRCROOT}/license-plist --output-path Settings.bundle --prefix com.___PACKAGENAME___.LicensePlist --add-version-numbers --suppress-opening-directory --force 
fi
</string>
				</dict>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
                <key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>9.0</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
                <key>SWIFT_OBJC_BRIDGING_HEADER</key>
				<string>___PACKAGENAME___/Supporting Files/Project-Bridging-Header.h</string>
                <key>SWIFT_VERSION</key>
				<string>5.0</string>
                <key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
			</dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
		</dict>
	</array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template provides a starting point for a new custom project</string>
</dict>
</plist>